.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 16px;
  max-width: 90%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.photo {
  margin-right: 16px;
}

.photo img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  flex: 1;
}

.card h2 {
  margin: 0;
  font-size: 1.2em;
}

.card p {
  margin: 4px 0;
  font-size: 0.9em;
}

.card strong {
  font-weight: bold;
}

.location-time {
  display: flex;
  justify-content: space-between;
}

.location-time p {
  margin: 0;
  padding: 0;
  flex: 1;
  text-align: left;
}

.location-time p:first-child {
  margin-right: 16px;
}
